$background-color: #202124;
$button-border-color: #26292a;
$text-color: #F0F0F4;
$border-color: #454a4d;
$debug: false;

@if $debug {
* {
  outline: 1px solid red;
}

}

%common-font {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: $text-color;
}
button:hover{
    cursor: pointer;
}

%common-border {
    border-width: 1px;
    border-style: solid;
    border-color: $border-color;
}

#standard-body {
    display: flex;
    align-items: center;
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: calc(100vh - 5px);
    svg {
        color: white;
        fill: white;
        height: 20px;
        width: 20px;
    }

    a {
        @extend %common-font;
        text-decoration: none;
    }
}



#header-container{
    @extend %common-font;
    font-size: 13px;
    height: 86px;
    width: 100vw;
    display: grid;
    grid-auto-flow: column;
    #header-left{
        display: flex;
        align-items: center;
        justify-content: start;
        margin: 3%;
        div {
            padding-left: 15px;
        }
    }
    #header-center{

    }
    #header-right{
        display: flex;
        align-items: center;
        justify-content: end;
        margin: 3%;
        div {
            padding-right: 15px;
        }
        #sign-in-button{
            @extend %common-font;
            font-size: small;
            background-color: #1e64d4;
            border-radius: 20px;
            width: 70px;
            height: 35px;
            margin: 10px 15px;
            border: none;
        }
    }
}

#pre-logo-container{
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 0;
    min-height: 0px;
    width: 50vw;
}

#google-logo-container{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 100%;
}

#search-container {
    @extend %common-font;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100vw;
    max-width: 584px;
    min-width: 100px;

    button {
        @extend %common-font;
        @extend %common-border;
        padding: 8px 15px 8px;
        box-sizing:border-box;
        margin: 3px;
        background-color: $button-border-color;
        border-radius: 5px;
        font-weight: 200;
    }
    button:hover{
        border: solid;
        border-width: 1px;
        border-color: #5f6368;
    }
}

#search-bar{
    @extend %common-border;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    border-radius: 24px;
    color: white;
    margin: 15px 0px;
    padding: 0px 15px;
    height: 46px;
    width: 100vw;
    max-width: 584px;
}

#search-bar:hover{
    background-color: $button-border-color;
}

#search-input{
    @extend %common-font;
    font-size: 16px;
    position: relative;
    border: none;
    background-color: transparent;
    margin: 0px;
    height: 40px;
    padding: 3px 0px 0px 2%;
    outline: none;
    width: 540px;
    overflow: hidden;
}
#post-search-container{
    box-sizing: border-box;
    flex-grow: 2;
    flex-shrink: 0;
    min-height: 0px;
    width: 50vw;
}

#footer-container{
    height: 90px;
    // width: 100vw;
    display: grid;
    grid-auto-flow: row;
    #footer-upper{
        height: 48px;
        background-color: #171717;
        border-bottom: solid;
        border-bottom-width: 1px;
        border-bottom-color: #444746;
        // padding: 10px 30px;
        justify-content: space-between;
        flex-wrap: wrap;
        p {
          @extend %common-font;
          margin: 15px 25px;
        }
    }
    #footer-lower{
        border-radius: 15px;
        background-color: #171717;
        @extend %common-font;
        width: 100vw;
        height: 46px;
        display: grid;
        grid-auto-flow: column;
        #footer-left{
            display: flex;
            align-items: center;
            justify-content: start;
            margin-left: 2%;
            div {
                margin-left: 15px;
            }
        }
        #footer-center{

        }
        #footer-right{
            display: flex;
            align-items: center;
            justify-content: end;
            margin-right: 2%;
            div {
                margin-right: 15px;
            }
        }
    }
}

#google-logo {
    position: relative;
    width: 280px;
    height: 100px;
    img {
        position: absolute;
        width: 100%;
    }
    p {
        position: absolute;
        font-family: Arial,sans-serif;
        font-size: 16px;
        color: #4487f6;
        bottom: 0;
        left: 215px;
        box-sizing: border-box;
        margin: 0px;
        width: auto;
    }
}

