$background-color: #202124;
$button-border-color: #26292a;
$text-color: #F0F0F4;
$border-color: #454a4d;
$debug: false;

@if $debug {
* {
  outline: 1px solid red;
}

}

%common-font {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: $text-color;
}
button:hover{
    cursor: pointer;
}

%common-border {
    border-width: 1px;
    border-style: solid;
    border-color: $border-color;
}


#standard-body {
    @extend %common-font;
    display: flex;
    align-items: center;
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: calc(100vh - 5px);
    svg {
        color: white;
        fill: white;
        height: 20px;
        width: 20px;
    }

    a {
        @extend %common-font;
        text-decoration: none;
    }
}


#header-container{
    @extend %common-font;
    font-size: 13px;
    height: 70px;
    width: 100vw;
    display: grid;
    grid-auto-flow: column;
    #header-left{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: start;
        margin: 3%;
        div {
            padding-left: 15px;
        }
    }
    #header-right{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: end;
        margin: 3%;
        div {
            padding-right: 15px;
        }
        #sign-in-button{
            @extend %common-font;
            font-size: small;
            background-color: #1e64d4;
            border-radius: 20px;
            width: 70px;
            height: 35px;
            // margin: 10px 15px;
            border: none;
        }
    }
}

#pre-logo-container{
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 0;
    min-height: 0px;
    width: 50vw;
}

#google-logo-container{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 100%;
}

#search-container {
    @extend %common-font;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100vw;
    max-width: 584px;
    min-width: 100px;

    button {
        @extend %common-font;
        @extend %common-border;
        padding: 8px 15px 8px;
        box-sizing:border-box;
        margin: 3px;
        background-color: $button-border-color;
        border-radius: 5px;
        font-weight: 200;
    }
    button:hover{
        border: solid;
        border-width: 1px;
        border-color: #5f6368;
    }
}

#search-bar{
    @extend %common-border;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    border-radius: 24px;
    color: white;
    margin: 15px 0px;
    padding: 0px 15px;
    height: 46px;
    width: 100vw;
    max-width: 584px;
}

#search-bar:hover{
    background-color: $button-border-color;
}

#search-input{
    @extend %common-font;
    font-size: 16px;
    position: relative;
    border: none;
    background-color: transparent;
    margin: 0px;
    height: 40px;
    padding: 3px 0px 0px 2%;
    outline: none;
    width: 540px;
    overflow: hidden;
}
#post-search-container{
    box-sizing: border-box;
    flex-grow: 2;
    flex-shrink: 0;
    min-height: 0px;
    width: 50vw;
}

#footer-container{
    height: 90px;
    // width: 100vw;
    display: grid;
    grid-auto-flow: row;
    #footer-upper{
        height: 48px;
        background-color: #171717;
        border-bottom: solid;
        border-bottom-width: 1px;
        border-bottom-color: #444746;
        // padding: 10px 30px;
        justify-content: space-between;
        flex-wrap: wrap;
        p {
          @extend %common-font;
          margin: 15px 25px;
        }
    }
    #footer-lower{
        border-radius: 15px;
        background-color: #171717;
        @extend %common-font;
        width: 100vw;
        height: 46px;
        display: grid;
        grid-auto-flow: column;
        #footer-left{
            display: flex;
            align-items: center;
            justify-content: start;
            margin-left: 2%;
            div {
                margin-left: 15px;
            }
        }
        #footer-center{

        }
        #footer-right{
            display: flex;
            align-items: center;
            justify-content: end;
            margin-right: 2%;
            div {
                margin-right: 15px;
            }
        }
    }
}

#google-logo {
    position: relative;
    width: 280px;
    height: 100px;
    img {
        position: absolute;
        width: 100%;
    }
    p {
        position: absolute;
        font-family: Arial,sans-serif;
        font-size: 16px;
        color: #4487f6;
        bottom: 0;
        left: 215px;
        box-sizing: border-box;
        margin: 0px;
        width: auto;
    }
}


// Advanced Search Stuff
#advanced-body {
    @extend #standard-body;
    align-items: start;
    padding: 0px;
    margin: 0px;
}

#app-bar {
    margin: 25px 35px;
    width: calc(100vw - 70px);
    text-align: left;
    font-size: 20px;
    color: rgb(241, 131, 121);
}
#app-hline{
    width: 100vw;
    border-bottom: 1px solid #ebebeb;
}

#advanced-form {
    .row {
    width: calc(100vw - 70px);
    margin: 0 30px;
    height: 42px;
        .row-start{
            display: inline-block;
            margin-left: 10px;
            width: 10vw;
            min-width: 170px;
            font-size: 12px;
            color: rgb(168, 162, 151);
        }
        .row-center{
            display: inline-block;
            margin: 0px;
            width: 30vw;
            color: rgb(168, 162, 151);
        }
        .row-end{
            display: inline-block;
            margin: 0 8px 0 15px;
            width: 30vw;
            vertical-align: middle;
            color: rgb(168, 162, 151);
            font-size: 11px;
        }
        @media screen and (max-width: 1050px){
            .row-end{
                display: none;
            }
        }
    }
}

.advanced-example-text {
    font-size: 11px;
    color: #e8e6e3;
    font-family: monospace;
}

.advanced-search-form{
    width: 30vw;
    height: 24px;
    color: $text-color;
    background-color: transparent;
    border-color: rgb(107, 100, 88);
    border-width: 1px;
    text-shadow: none;
}

.advanced-search-form:focus{
    border-color: #003eaa;
    outline: 1px solid #003eaa;
}

#form-hline{
    margin-left: 40px;
    width: 1170px;
    border-bottom: 1px solid #ebebeb;
}

.advanced-dropdown{
    width: calc(30vw + 2px);
    padding: 0 5px;
    height: 28px;
    background: transparent;
    color: $text-color;
    border-color: rgb(107, 100, 88);
    border-width: 1px;
    text-shadow: none;

    select {
        display: none;
    }
}
.advanced-dropdown:hover{
    background: transparent;
}

.advanced-dropdown-content{
    color: $text-color;
    background-color: transparent;
    text-shadow: none;
}